body {
     background: #f6f6f6;

}
.form_product {
     display: flex;
     justify-content: space-between;
     margin: 2em 2em 2em 0;
}
.form_data {
     width: 52%;
     display: flex;
     justify-content: space-around;
     flex-direction: column;
     padding: 0 1.5em;
     height: 110vh;
     background: white;
     border-radius: 3px;
     box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.titre_add {
     width: 100%;
     height: 7vh;
     font-size: 1.3em;
     font-weight: 500;
     display: flex;
     align-items: center;
     padding: 0;
     text-transform: uppercase;
}
.form_data .name_tableau {
     width: 100%;
     display: flex;
     flex-direction: column;
     line-height: 2;
}
.form_data .name_tableau input {
     height: 6vh;
     padding-left: 0.5em;
     border: 1px solid;
     border-radius: 3px;
     outline-color: blue;
}
.form_data .form_1 {
     display: flex;
     justify-content: space-between;
     line-height: 2;
}
.form_data .form_1 div {
     width: 48%;
     display: flex;
     flex-direction: column;
}
.form_data .form_1 div select {
     width: 100%;
     height: 6vh;
     padding-left: 0.5em;
     border: 1px solid;
     border-radius: 3px;
     outline-color: blue;
}
.form_data .form_2 {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     line-height: 2;
}
.form_data .form_2 div {
     width: 45%;
     display: flex;
     flex-direction: column;
}
.form_data .form_2 div input[type="number"], input[type="text"] {
     height: 6vh;
     border: 1px solid;
     outline-color: blue;
     padding-left: 0.5em;
     border-radius: 3px;
}
.form_data .long_texte {
     line-height: 2;
}
.form_data .long_texte textarea {
     width: 100%;
     max-width: 100%;
     min-height: 15vh;
     min-width: 100%;
     max-height: 15vh;
     padding: 0.7em 1.1em;
     height: 15vh;
     border: 1px solid;
     border-radius: 3px;
     outline-color: blue;
}

.form_image {
    display: flex;
    width: 45%;
    padding: 1.2em;
    height: 80vh;
    /* margin-right: 3em; */
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.form_image .btn_add {
     display: flex;
     justify-content: space-between;
}
.form_image .image1 {
     width: 100%;
     height: 62vh;
     overflow: hidden;
}
.form_image .image1 img {
     width: 100%;
     height: 100%;
}
.form_image .btn_add button {
     background: blue;
     width: 45%;
     height: 6vh;
     border: none;
     cursor: pointer;
     color: white;
     border-radius: 5px;
     font-size: 1.1rem;
}
.form_image .btn_add .annuler {
     background: white;
     color: black;
     width: 30%;
     border: 1px solid;
}