.aside_container {
     background: white;
     height: 100vh;
}
.aside {
     background: white;
     display: flex;
     justify-content: space-around;
     flex-direction: column;
     padding: 0 2em 0 2rem;
     /* height: 80vh; */
     box-shadow: rgba(0.05, 0, 0, 0) 0px 0px 0px 1px;
     line-height: 3.5;
     flex-wrap: wrap;
     cursor: pointer;
}

.content-item {
     background: #F6F6F6;
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     line-height: 2.5;
     padding: 0.3rem 0 0 2rem;
     /* transition: 5s ease; */
}
.lien {
     text-decoration: none;
     color: black;
    
}
.click {
     /* transition: 5s ease; */
     display: flex;
     justify-content: space-between;
     align-items: center;
     /* width: 90%; */
     /* background: blue; */
}
/* .click span {
     /* background: red; */
     /* padding-left: 5rem; */
     /* font-weight: bold; */
     /* transition: 5s ease; */
/* }  */