table thead .id_product {
     width: 8%;
}
table thead .image_prod {
     width: 10%;
}
table thead .qtn_prod {
     width: 5%;
}
table thead .prix_prod {
     width: 11%;
}
table thead .status_prod {
     width: 10%;
}
table tbody .image_div {
     /* height: 8vh; */
     width: 100%;
     overflow: hidden;
     padding: 0.2em;
}
table tbody .image_div img {
     width: 100%;
     width: 100%;
}
table tbody .nom_prod {
     padding-left: 0.5em;
     text-align: left;
}