.lien_div {
     /* background: blue; */
     margin: 1em;
     padding: 1em 9em;
}
.lien_div  .lien {
     font-size: 1.3em;
     font-weight: 400;
     color: #F9B233;
     text-transform: capitalize;
}
.containers_div {
     background: white;
     padding: 0em 6em 1em 6em;
}
.containers_div .div_nom_cat p {
     text-align: center;
     font-size: 1.4em;
     font-weight: 500;
     text-transform: uppercase;
     padding: 1em 0;
}
.Tableau_element {
     display: flex;
     justify-content: space-around;
}
.Tableau_element div p {
     text-align: center;
     padding-top: 0.4em;
     font-size: 1.1em;
     font-weight: 400;
}
.Tableau_element .Tableau_div {
     height: 80vh;
     width: 65%;
}
.Tableau_element .Tableau_div .Tableau_image{
     width: 100%;
     height: 90%;
     overflow: hidden;
}
.Tableau_element .Tableau_div .Tableau_image img {
     width: 100%;
     height: 100%;
}
.Tableau_element .Tableau_infos {
     width: 34%;
     /* text-transform: capitalize; */
     height: 78vh;
     display: flex;
     /* background: #F9B233; */
     padding-left: 2em;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
}
.Tableau_element .Tableau_infos div .prix_tableau_p {
     font-size: 1.5em;
     color: #F9B233;
     font-weight: 500;
}
.description_p {
     line-height: 2;
     font-size: 1.1em;
     font-weight: 300;
     font-family: sans-serif;
}
.Tableau_element .Tableau_infos .Tableau_panier {
     display: flex;
     align-items: center;
     width: 65%;
     height: 8vh;
     border-radius: 3px;
     background: blue;
     justify-content: space-around;
}
ul li {
     list-style-type: none;
     line-height: 2;
     font-size: 1.1em;
     font-weight: 300;
     font-family: sans-serif;
}
.Tableau_element .Tableau_infos .Tableau_panier .Image_panier {
     width: 18%;
     padding: 0.5em;
}
.Tableau_element .Tableau_infos .Tableau_panier div img {
     width: 90%;
     height: 100%
}
.Tableau_element .Tableau_infos .Tableau_panier .btn_panier {
     width: 70%;
     
}
.Tableau_element .Tableau_infos .Tableau_panier button {
     border: none;
     width: 100%;
     color: white;
     font-size: 1.2em;
     cursor: pointer;
     background: none;
}
.tables_div {
     display: flex;
     justify-content: center;
     align-items: center;
     text-transform: capitalize;
}
.tables {
     border-collapse: collapse;
     width: 70%;
}
.tables td, th {
     border: 1px solid;
     height: 7vh;
     padding-left: 2em;
}
.fiche_technique {
     text-align: center;
     font-size: 1.5em;
     /* background: #F9B233; */
     font-family: sans-serif;
     padding: 0.5em 0;
     /* text-transform: capitalize; */
}