.lien_div {
     /* background: blue; */
     margin: 1em;
     padding: 1em 9em;
}
.lien_div  .lien {
     font-size: 1.3em;
     font-weight: 400;
     color: #F9B233;
     text-transform: capitalize;
}
.containers_div {
     background: white;
     padding: 0em 6em 1em 6em;
}
.containers_div .div_nom_cat {
     background: #f6f6f6;
     margin: 1em 3.1em;
     height: 8vh;
     border: 1px solid;
}
.containers_div .div_nom_cat p { 
     font-size: 1.4em;
     font-weight: 500;
     text-transform: uppercase;
     padding: 0.5em 0 0 1em;
}
.Tableau_element {
     display: flex;
     justify-content: space-around;
     margin: 0 3em;
}
/* .Tableau_element div p {
     text-align: center;
     padding-top: 0.4em;
     font-size: 1.1em;
     font-weight: 400;
} */
.Tableau_element .Tableau_image{
     width: 38%;
     height: 55vh;
     display: flex;
     box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
     justify-content: center;
     align-items: center;
     /* border: 1px solid; */
     /* overflow: hidden; */
}
.Tableau_element .Tableau_image .img {
     width: 100%;
     height: 100%;
     /* border: 1px solid; */
}
.Tableau_element .Tableau_infos {
     width: 60%;
     height: 50vh;
     display: flex;
     /* border: 1px solid; */
     padding-left: 1em;
     flex-direction: column;
     justify-content: space-between;
}
.Tableau_element .Tableau_infos div .prix_tableau_p {
     font-size: 1.5em;
     color: black;
     font-weight: bold;
     /* font-weight: 500; */
}
.description_p {
     line-height: 2;
     font-size: 1.1em;
     font-weight: 300;
     font-family: sans-serif;
}
.Tableau_element .Tableau_infos .Tableau_panier {
     display: flex;
     align-items: center;
     width: 37%;
     height: 8vh;
     border-radius: 3px;
     background: #03AA00;
     border: none;
     cursor: pointer;
     justify-content: space-around;
}
ul li {
     list-style-type: none;
     line-height: 2;
     font-size: 1.1em;
     font-weight: 300;
     font-family: sans-serif;
}
.Tableau_element .Tableau_infos .Tableau_panier .Image_panier {
     width: 20%;
     text-align: center;
     overflow: hidden;
}
.Tableau_element .Tableau_infos .Tableau_panier div img {
     width: 80%;
     height: 100%;
}
.Tableau_element .Tableau_infos .Tableau_panier .btn_panier {
     width: 70%;
}
.Tableau_element .Tableau_infos .Tableau_panier .btn_panier p {
     width: 100%;
     color: white;
     font-size: 1.5em;
}
/* .tables_div {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 1.5em;
}
.tables {
     border-collapse: collapse;
     width: 70%;
}
.tables td, th {
     border: 1px solid;
     height: 7vh;
     padding-left: 2em;
}
.fiche_technique {
     text-align: center;
     font-size: 1.5em;
     font-family: sans-serif;
     padding: 0.5em 0;
} */