* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.Navbar {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 13vh;
     /* background: white; */
     background: #f6f6f6;
     /* border-bottom: 1px solid; */
     box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.item {
     text-decoration: none;
     color: black;
}
.logo {
     width: 20%;
}

.element {
     display: flex;
     justify-content: space-around;
     width: 60%;
     align-items: center ;
     /* background: red; */
}

.element span {
     background: #F9B233;
     position: relative;
     color: white;
     top: -1.8rem;
     left: -1rem;
     padding: 0.2rem 0.6rem;
     border-radius: 50%;
}
span {
     color: red;
}
.photo_user_div {
     /* background: orange; */
     width: 6%;
     /* position: relative; */
     height: 10%;
}
.user_image {
     width: 100%;
     cursor: pointer;
     /* height: 15vh; */
}
.user_image img {

     width: 100%;
}
.user_image_element {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     background: blue;
     width: 15%;
     position: absolute;
}
.user_image_element.active {
     opacity: 1;
     visibility: visible;
     transform: translateY(0);
     transition: 10s ease;
}
.user_image_element.inactive {
     opacity: 0;
     visibility: hidden;
     transform: translateY(-20px);
     transition: 10s ease;
}