@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');

* {
     font-family: 'Poppins', sans-serif;
}
.body {
     background: white;
}
.bodyfixed {
     position: fixed;
}
.images {
     height: 81vh;
     display: flex;
     justify-content: space-around;
     margin: 0.5em;
     width: 100%;
}
.images .image_centrale {
     width: 58%;
     background-image: url("../../Images/fond.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 4px;
}
.images .image_centrale .bg_centrale {
     background: black;
     height: 100%;
     width: 100%;
     z-index: 100;
     opacity: 0.4;
     
}
.images .image_droite {
     width: 20%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     
}
.images .image_droite .image_droite_1 {
     height: 40vh;
     background-image: url("../../Images/recette3.jpg");
     width: 100%;
     background-position: center;
     background-size: cover;
     padding: 0.5em;
     border-radius: 4px;
     border: 1px solid orange;
     background-repeat: no-repeat;
}
.images .image_droite .image_droite_2 {
     background-image: url("../../Images/recette1.jpg");
     background-position: center;
     width: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover ;
     border-radius: 4px;
     padding: 1em;
     height: 40vh;
     border: 1px solid #03AA00;
}
.images .image_gauche {
     width: 20%;
     /* border: 1px solid; */
     display: flex;
     background: #C2FFC0;
     flex-direction: column;
     justify-content: space-around;
}
.images .image_gauche .authentification {
     /* border: 1px solid; */
     height: 40%;
     display: flex;
     justify-content: space-around;
     flex-direction: column;
     align-items: center;
}
.images .image_gauche .authentification .login {
     text-decoration: none;
     background: orange;
     color: white;
     font-size: 1.2em;
     padding: 0.6em 1.2em;
     border-radius: 30px;
     font-weight: 500;
     cursor: pointer;
     border: none;
     text-align: center;
}

.images .image_gauche .authentification .register {
     text-decoration: none;
     background: white;
     color: #1D71B8;
     padding: 0.6em 1.2em;
     font-weight: 500;
     border-radius: 30px;
     border: none;
     font-size: 1.2em;
     cursor: pointer;
}
.images .image_gauche p {
     text-transform: uppercase;
     text-align: center;
     padding: 0.5em 0.5em 0 0.5em;
     font-size: 1.6em;
     line-height: 2;
     font-weight: 500;
}

.images .deconnexion {
     background: #03AA00;
     color: white;
     border: none;
     padding: 0.6rem 1.2rem;
     border-radius: 30px;
     font-size: 1.3em;
     font-weight: 500;
     animation: animate infinite 3s linear;
}

@keyframes animate {
     /* to {
          transform: rotate(0deg);
          /* transition: .2s; */
          /* opacity: 0; */
     /* }
     from {
          transform: rotate(360deg);
     } */ 
     to {
          transform: translateY(0px);
          transition: .2s;
          /* opacity: 0; */
     }
     from {
          transform: translateY(50px);
          transition: .3s;
     }
}



.searchbar {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 15vh;
     width: 100%;
     /* background: orange; */
}
.searchbar .search {
     display: flex;
     width: 50%;
     justify-content: space-between;
     align-items: center;
     /* background: blueviolet; */
}
.searchbar .search input {
     height: 7vh;
     width: 90%;
     /* border-radius: 5px 0 0 5px; */
     outline-color: #03AA00;
     padding: 0 0 0 1rem;
     border-radius: 40px;
     background: #F6F6F6;
     border: 1px solid #03AA00;
}
/* .searchbar .search button {
     background: #1D71B8;
     border: none;
     border-radius: 0 5px 5px 0;
     color: white;
     height: 7vh;
     width: 20%;
} */

/* .slider_container {
     /* background: white; */
/* }  */
.listes_categories {

     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     /* background: orange; */
     height: 10vh;
}
.listes_categories .button {
     text-decoration: none;
     padding: 0.4em 1em;
     font-size: 1.1em;
     border: 1px solid black;
     color: black;
     border-radius: 20px;
     background: white;
     transition: .1s;
}
.listes_categories .button:hover {
     transform: scale(1);
     background: #03AA00;
     color: wheat;
     transition: .1s;
     border: none;
}
.listes_categories .active {
     background: #03AA00;
     color: white;
     border: none;
}